.blog-section{
  padding: 48px 20px;
  background: var(--clr-blue-100);
}

.blog-section .heading{
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blog-section h2{
  font-size: var(--fs-2);
}

.blog-posts{
  display: grid;
  gap: 60px;
}

.most-acessed{
  margin-top: 60px;
}

.post-list{
  display: grid;
  row-gap: 20px;
}

.post-card{
  border-radius: 10px;
  overflow: hidden;
  background: var(--clr-white);

  display: flex;
  flex-direction: column;
}

.post-card__image{
  width: 100%;
  object-fit: cover;
}

.post-card__content{
  padding: 15px 10px;
}

.post-card__meta{
  font-size: var(--fs-7);
  color: var(--clr-blue-900);

  display: flex;
  gap: 10px;
}

.post-card__category, .post-card__date{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-clamp: 1;
  -webkit-line-clamp: 1;
}

.post-card__title{
  margin-block: 10px;
  font-size: var(--fs-4);
  color: var(--clr-blue-900);

  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-clamp: 2;
  -webkit-line-clamp: 2;
}

.post-card__title a{
  color: var(--clr-blue-900);
}

.post-card__footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-card__link{
  font-size: var(--fs-6);
  font-weight: 500;
  color: var(--clr-blue-500);
}

.post-card__comments{
  display: flex;
  align-items: center;
  gap: 4px;
}

.post-card__comments span{
  font-size: var(--fs-7);
}

.side-recommendations{
  display: grid;
  gap: 30px;
}

.recommended-posts > h3,
.popular-categories > h3{
  margin-bottom: 20px;
  font-size: var(--fs-2);
  color: var(--clr-blue-500);
}

.recommended-posts .post-card__title{
  margin-bottom: 0;
}

.popular-categories{
  padding: 20px;
  border-radius: 10px;
  background: var(--clr-white);
}

.popular-categories a{
  color: var(--clr-blue-900);
}

.categories-list{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (width >= 50.625em) {
  .blog-section {
    padding: 60px 20px;
  }

  .blog-section .container{
    max-width: 60.625em;
  }

  .blog-section .heading{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .blog-section .form__search{
    max-width: 26.25rem;
  }

  .blog-posts{
    grid-template-columns: 0.744fr 0.256fr;

    gap: 30px;
  }

  .main-posts .post-card{
    flex-direction: row;
    align-items: center;
  }

  .main-posts .post-card__image{
    max-width: 16.875rem;
    max-height: 10rem;
  }

  .recommended-posts .post-card__image{
    max-height: 8.875rem;
  }

  .recommended-posts > h3,
  .popular-categories > h3{
    margin-bottom: 20px;
    font-size: var(--fs-4);
    color: var(--clr-blue-500);
  }

  .recommended-posts .post-list{
    grid-template-columns: 1fr;
    column-gap: 40px;
  }

  .recommended-posts{
    order: 2;
  }

  .categories-list{
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (width >= 75em) {
  .blog-section {
    padding: 80px 20px;
  }

  .recommended-posts .post-list{
    grid-template-columns: 1fr;
  }
}