.comments-section{
  padding: 48px 20px;
}

.comments-section .container{
  max-width: 48.125rem;
  margin-inline: auto;
}

.comments-section h2{
  font-size: var(--fs-2);
}

.add-comment{
  margin-block: 20px 40px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.add-comment .form{
  width: 100%;
  border: var(--clr-gray-400) 1px solid;
  border-radius: 5px;
}

.add-comment .form__group.float-button button{
  border-radius: 5px;
}

.comments{
  display: grid;
  gap: 30px;
}

.comment__head{
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.comment__author-pic{
  width: 3.75rem;
  height: 3.75rem;
  object-fit: cover;
  border-radius: 50%;
}

.comment__author{
  font-size: var(--fs-4);
}

.comment__details span{
  font-size: var(--fs-7);
}

.comment__body{
  font-size: var(--fs-5);
  color: var(--clr-gray-400);
}