.dashboard-section{
  padding: 48px 20px;
  background: var(--clr-blue-100);
}

.dashboard-section .container{
  max-width: 50.625rem;
}

.dashboard-section .heading{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard-section h1{
  font-size: var(--fs-4);
  font-weight: 600;
  color: var(--clr-blue-500);
}

.dashboard{
  margin-block: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dashboard__wrapper{
  width: 100%;
  height: initial;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.dashboard__table{
  border-radius: 10px;
  background: var(--clr-white);
}

.dashboard__table thead th{
  padding: 10px;
  border-bottom: 1px solid #E6E6E6;
  font-size: var(--fs-4);
}

.dashboard__table tbody tr td{
  padding: 10px;
  font-size: var(--fs-5);
}

.dashboard__table tbody .post-row{
  height: 50px;
  cursor: pointer;
  transition: background 200ms ease-in-out;
}

.dashboard__table tbody .post-row:hover{
  background: var(--clr-blue-200);
}

.dashboard__table tbody tr td:first-child{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dashboard__actions a span{
  display: none;
}

.dashboard__actions{
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.dashboard__table .dropdown-row {
  display: none;
  border-bottom: solid var(--clr-blue-500) 1px;
}

.dashboard__table .dropdown-row.active {
  display: table-row;
}

.dashboard__table .dropdown-content{
  display: flex;
  gap: 12px;
}

.dropdown-content div{
  display: flex;
  align-items: center;
  gap: 6px;
}

.dashboard aside{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard .card.authors{
  width: 100%;
}

.dashboard .card.authors a{
  display: flex;
  align-items: center;
  gap: 10px;
}

.dashboard .card.authors img{
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
}

.dashboard__wrapper .pagination{
  justify-content: start;
}

@media (width >= 50.625em) {
  .dashboard-section .heading{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .dashboard-section .form__search{
    max-width: 420px;
    width: -webkit-fill-available;
  }

  .dashboard__table{
    width: -webkit-fill-available;
  }

  .dashboard__actions a{
    min-width: fit-content;
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .dashboard__actions a span{
    font-weight: 500;
    display: initial;
  }

  .dashboard__actions a:first-child{
    color: var(--clr-blue-500);
  }

  .dashboard__actions a:last-child{
    color: var(--clr-red-500);
  }

  .dashboard .card{
    width: fit-content;
  }

  .dashboard .card__list{
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (width >= 75em) {
  .dashboard-section .container{
    max-width: 75rem;
  }

  .dashboard{
    flex-direction: row;
  }

  .dashboard__wrapper{
    max-width: 900px;
  }

  .dashboard .card__list{
    grid-template-columns: 1fr;
  }
}