.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 10px;
}

.pagination .page-link {
  padding: 8px 12px;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;

  color: #007bff;
  background-color: var(--clr-white);

  display: block;
}

.pagination .active-link .page-link {
  color: white;
  border-color: #007bff;
  background-color: #007bff;
}

.pagination .page-link:hover {
  color: white;
  border-color: #0056b3;
  background-color: #0056b3;
}