/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* GLOBAL */

:root {
  --clr-main-nomedacor: #fff;
  /* --clr-dark-; */
}

html {
  scroll-behavior: smooth;
}

body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
}

ul li {
  list-style: none;
}

a,
button {
  font-family: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

.cta {
  padding: 12px 25px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 600;

  color: #ffffff;
  background: #0a98e8;
  display: inline-block;
}

.cta-outline {
  padding: 12px 25px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid #0a98e8;

  color: #0a98e8;
  display: inline-block;
}

.whatsapp-link {
  width: 70px;
  height: 70px;
  padding: 15px;
  border-radius: 50%;

  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;

  background: #04b545;
}

.heading h3 {
  font-size: 18px;
  font-weight: 600;
  color: #0a98e8;
}

.heading h2 {
  font-size: 24px;
  font-weight: 700;
  color: #323761;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;

  transition: transform 0.3s ease;
}

.header-white-bg {
  background: #fff;
}

.hidden {
  transform: translateY(-100%);
}

.header-container {
  max-width: 1200px;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .left-colum {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  display: inline-flex;
}

.menu-label {
  cursor: pointer;
}

.menu-label i {
  font-size: 32px;
}

.navbar {
  border-bottom: 1px solid #d4d4d4;
  text-align: right;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  background: #ffffff;

  transform: translateX(135%);
  transition: transform 500ms ease-in-out;
  z-index: -2000;
}

#menu-bar {
  display: none;
}

.navbar ul {
  list-style: none;
}

.navbar ul li a {
  padding: 20px;
  font-size: 16px;

  color: #323761;

  display: block;
}

.navbar ul li a:hover {
  background: #f8f8f8;
}

.navbar ul li ul {
  width: 200px;
  position: absolute;
  left: 0;

  background: #fdfdfd;

  display: none;
}

#menu-bar:checked ~ .navbar {
  transform: translateX(0%);
  opacity: 1;
}

.navbar ul li:focus-within > ul,
.navbar ul li:hover > ul {
  display: initial;
}

.navbar ul li ul {
  position: relative;
  width: 100%;
}

.navbar ul li ul li {
  width: 100%;
  border-top: 1px solid #f3f3f3;
}

.desktop-contact-btn {
  display: none;
}

/* HERO */
.hero-section {
  padding: 40px 0px 0px;
  margin-top: 78px;
}

.hero-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
  position: relative;
  z-index: 1000;

  color: #fff;
}

.hero-content {
  padding: 0 20px;
}

.hero-title {
  font-size: 38px;
  line-height: 1.3;
  color: #323761;
}

.hero-title span {
  color: #0a98e8;
}

.hero-desc {
  margin: 16px 0 32px;
  color: #4a4d69;
}

.cta-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.hero-img-desktop {
  display: none;
}

/* ABOUT SECTION */
.about-section {
  padding: 48px 20px 0px;
  background-color: #323761;
  position: relative;
}

.about-section .container {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about-section .heading {
  margin-bottom: 16px;
}

.about-information .heading h2 {
  color: #fff;
}

.about-information p {
  font-weight: 300;
  color: #fff;
}

.about-section img {
  margin-bottom: -40px;
  border-radius: 30px;
}

/* BENEFITS */
.benefits-section {
  padding: 90px 20px 48px;
}

.benefits-section .container {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.benefits-information .heading {
  margin-bottom: 32px;
}

.benefits-information + img {
  height: 400px;
  object-fit: cover;
}

.benefits {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.benefit-topic {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.benefit-topic img {
  width: 48px;
}

.benefit-topic p {
  color: #4a4d69;
}

.benefits-section img {
  border-radius: 30px;
}

/* FEEDBACK */
.feedback-section {
  padding: 48px 20px;
}

.feedback-section .container {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.feedback-section .heading img {
  width: 52px;
  margin-bottom: 10px;
}

.feedbacks {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.feedback-card {
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0px 3px 15px rgba(92, 92, 92, 0.1);
}

.feedback-card .feedback-head {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.feedback-head h4 {
  font-weight: 700;
  color: #323761;
}

.feedback-card p {
  color: #4a4d69;
}

.feedback-card img {
  width: 48px;
}

/* SERVICES */
.services-section {
  padding: 48px 20px;
}

.services-section .container {
  max-width: 600px;
  margin: 0 auto;
}

.services {
  margin: 32px 0 40px;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.service-card {
  padding: 20px;
  border-radius: 30px;

  background: #f6fafc;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.service-card h4 {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
  color: #323761;
}

.service-card p {
  color: #585858;
}

.service-card img {
  width: 60px;
}

/* BLOG */
.blog-section {
  padding: 48px 20px;

  background: #f6fafc;
}

.blog-section .container {
  max-width: 600px;
  margin: 0 auto;
}

.blog-section .heading {
  margin-bottom: 32px;
  text-align: center;
}

.blog-section .inner-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.blog-posts {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.post-card {
  border-radius: 10px;
  overflow: hidden;
  transition: transform 200ms ease-in-out;
}

.post-card:hover {
  transform: scale(1.03);
}

.post-card .post-content {
  padding: 15px 10px;

  background: #fff;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.post-card .post-head {
  display: flex;
  gap: 10px;
}

.post-card span {
  font-size: 12px;
  color: #323761;
}

.post-card hr {
  color: #cfdce5;
}

.post-card h3 {
  font-size: 18px;
  font-weight: 600;
  text-overflow: ellipsis;
  color: #323761;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

.post-card a {
  color: #0a98e8;
}

.inner-container .see-more {
  font-size: 18px;
  font-weight: 600;
  color: #323761;

  display: flex;
  flex-direction: column;
  align-items: start;
}

.see-more img {
  width: 100px;
}

/* CTA */
.cta-section {
  padding: 48px 20px;
  background: #323761;
}

.cta-section {
  text-align: center;
  color: #fff;
}

.cta-section h2 {
  font-size: 32px;
  color: #fff;
}

.cta-section p {
  font-size: 18px;
  margin: 8px 0 16px;
}

/* CONTACT */
.contact-section {
  padding: 48px 20px;
}

.contact-section .container {
  max-width: 600px;
  margin: 0 auto;
}

.contact-methods {
  margin: 32px 0 32px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form input,
.form textarea {
  padding: 11px 20px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;

  font-family: inherit;
  font-size: 18px;
  background: #f5f5f5;
}

.form input::placeholder,
.form textarea::placeholder {
  color: #505050;
}

.form textarea {
  height: 100px;
  resize: none;
}

.form .cta {
  border: none;
  border-radius: 5px;
}

.contact-methods img {
  border-radius: 20px;
}

.other-contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.contact {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact img {
  width: 20px;
}

.contact span {
  font-weight: 300;
  color: #727272;
}

/* FOOTER */

.footer {
  padding: 48px 20px 20px;
  background: #f6fafc;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.logo-footer {
  width: 200px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.social-links {
  display: flex;
  justify-content: center;
}

.footer-nav .nav-col {
  text-align: center;
}

.nav-col h3 {
  font-size: 20px;
  margin-bottom: 16px;
  color: #323761;
}

.nav-col a {
  padding: 8px 10px;
  color: #323761;

  display: inline-block;
}

.nav-col .social-links {
  display: flex;
}

.nav-col a:hover {
  text-decoration: underline;
}

.copyright {
  margin-top: 60px;
  font-size: 12px;
  text-align: center;

  color: #323761;
}

@media screen and (min-width: 768px) {
  /* HERO */
  .hero-section {
    padding: 0px 20px;
    position: relative;
  }

  .hero-section::before {
    width: 300px;
    height: 130%;
    content: "";
    position: absolute;
    right: 0px;
    top: -80px;

    background-image: url("../img/hero-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .hero-container {
    max-width: 900px;
    display: flex;
    align-items: center;
  }

  .hero-content {
    max-width: 450px;
    padding: 0;
  }

  .hero-img-mobile {
    display: none;
  }

  .hero-img-desktop {
    max-width: 370px;
    display: block;
  }

  /* ABOUT */
  .about-section {
    padding: 60px 20px;
  }

  .about-section .container {
    max-width: none;
    flex-direction: row;
  }

  .about-information {
    order: 2;
    flex: 1 0 0%;
  }

  .about-section img {
    max-width: 370px;
    margin-bottom: -80px;
    object-fit: cover;
    flex: 1 0 0%;
  }

  /* BENEFITS */
  .benefits-section {
    padding: 80px 20px 60px;
  }

  .benefits-section .container {
    max-width: unset;

    flex-direction: row;
    align-items: center;
  }

  .benefits-information + img {
    max-width: 370px;
    height: auto;
  }

  /* FEEDBACK */
  .feedback-section {
    padding: 60px 20px;
  }

  .feedback-section .container {
    max-width: unset;
  }

  .feedback-section .heading {
    text-align: center;
  }

  .feedback-section .heading img {
    margin: 0 auto;
  }

  .feedbacks {
    flex-direction: row;
  }

  /* CTA */
  .cta-section {
    padding: 60px 60px;
  }

  .cta-section .container {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cta-section p {
    font-size: 20px;
    margin-bottom: 0;
  }

  /* SERVICES */
  .services-section {
    padding: 60px 20px;
  }

  .services-section .container {
    max-width: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .services-section .heading {
    text-align: center;
  }

  .services {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .service-card {
    max-width: 270px;
  }

  /* BLOG */
  .blog-section {
    padding: 60px 20px;
  }

  .blog-section .container {
    max-width: 1000px;
  }

  .blog-posts {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .post-card {
    max-width: 270px;
  }

  /* CONTACT */
  .contact-section {
    padding: 60px 20px;
  }

  .contact-section .container {
    max-width: unset;
  }

  .contact-section .heading {
    text-align: center;
  }

  .contact-section .contact-methods {
    flex-direction: row;
  }

  .contact-methods .form {
    flex: 1 0 0%;
  }

  .contact-methods img {
    max-width: 370px;
    flex: 1 0 0%;
    object-fit: cover;
  }

  .other-contacts {
    flex-direction: row;
  }

  /* FOOTER */
  .footer {
    padding: 60px 40px 20px;
  }

  .footer-links {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .footer-nav {
    flex-direction: row;
  }

  .social-links {
    justify-content: start;
  }

  .footer-nav .nav-col {
    text-align: left;
  }

  .nav-col a {
    padding-left: 0;
  }
}

@media screen and (min-width: 1000px) {
  .heading h3 {
    font-size: 20px;
  }

  .heading h2 {
    font-size: 32px;
  }

  /* HEADER */

  .header-container {
    margin: auto;
  }

  .header {
    padding: 0;
  }

  .header .left-colum {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 60px;
  }

  .header .menu-label {
    display: none;
  }

  .header .navbar {
    display: initial;
    all: unset;
  }

  .navbar ul {
    display: flex;
    gap: 30px;
  }

  .header .navbar ul li {
    position: relative;
    float: left;
  }

  .header .navbar ul li ul {
    position: absolute;
  }

  .navbar ul li a {
    padding: 0;
    font-size: 20px;
  }

  .mobile-contact-btn {
    display: none;
  }

  .desktop-contact-btn {
    display: block;
    white-space: nowrap;
  }

  /* HERO */
  .hero-section {
    padding: 0px 20px;
  }

  .hero-section::before {
    width: 35%;
  }

  .hero-container {
    max-width: 1170px;
    justify-content: space-between;
  }

  .hero-content {
    max-width: unset;
  }

  .hero-title {
    font-size: 52px;
  }

  .hero-desc {
    font-size: 18px;
  }

  .hero-img-desktop {
    max-width: 570px;
  }

  /* ABOUT */
  .about-section .container {
    max-width: 1170px;
    align-items: center;
  }

  .about-information p {
    font-size: 18px;
  }

  .about-section img {
    max-width: 570px;
    margin-bottom: -110px;
  }

  /* BENEFITS */
  .benefits-section {
    padding: 100px 20px 80px;
  }

  .benefits-section .container {
    max-width: 1170px;
    align-items: center;
    justify-content: center;
  }

  .benefits-information {
    max-width: 500px;
  }

  /* FEEDBACK */
  .feedback-section .container {
    max-width: 1170px;
    align-items: center;
    gap: 60px;
  }

  /* CTA */
  .cta-section {
    position: relative;
  }

  .cta-section::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    background-image: url("../img/wave.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .cta-section .container {
    max-width: 970px;
    margin: 0 auto;
    align-items: center;

    position: relative;
    z-index: 100;
  }

  .cta-section h2 {
    font-size: 40px;
  }

  .cta-section h2 {
    font-size: 48px;
  }

  /* SERVICES */
  .services-section {
    padding: 80px 20px;
  }

  .services-section .container {
    max-width: 910px;
    align-items: center;
    gap: 0px;
  }

  .services {
    margin: 60px 0 30px;
    gap: 50px;
  }

  /* BLOG */
  .blog-section {
    padding: 80px 20px;
  }

  .blog-section .heading {
    margin-bottom: 60px;
  }

  .blog-section .inner-container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  /* CONTACT */
  .contact-section {
    padding: 80px 20px;
  }

  .contact-section .container {
    max-width: 970px;
    align-items: center;
  }

  .contact-methods {
    margin: 60px 0;
  }

  .contact-methods img {
    max-width: 470px;
  }

  /* FOOTER */
  .footer {
    padding: 80px 0 20px;
  }

  .footer-links {
    max-width: 1200px;
    margin: 0 auto;

    justify-content: space-around;
  }
}
