@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

/* Sidebar */
.sidebar {
  flex: 1;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
}

.sidebar h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 15px;
}

.sidebar ul {
  list-style: none;
  padding-left: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #366aa1;
  font-size: 16px;
}

.sidebar ul li a:hover {
  color: #0056b3;
}

/* Post List */
.post-list {
  max-height: 580px;
  overflow-y: scroll;
  flex: 3;
  padding: 20px;
}

.post-card {
  display: flex;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.post-info {
  margin-left: 15px;
}

.post-info .category {
  font-size: 14px;
  color: #888;
}

.post-info .title {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #333;
}

.post-info .meta {
  font-size: 14px;
  color: #666;
}

/* DASHBOARD */

.container {
  max-width: 900px;
  overflow-y: hidden;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex-grow: 1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}

h1 {
  font-size: 24px;
  color: #333;
}

.btn-new-post {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
}

.btn-new-post:hover {
  background-color: #45a049;
}

h2 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.post-list ul {
  list-style-type: none;
  padding: 0;
}

.post-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  gap: 40px;
}

.post-list li span {
  font-size: 16px;
  color: #333;
}

.post-list .actions {
  display: flex;
  gap: 5px;
}

.post-list li a,
.post-list li button {
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 3px;
  text-decoration: none;
  color: white;
}

.btn-update {
  background-color: #2196f3;
}

.btn-update:hover {
  background-color: #0b7dda;
}

.btn-delete {
  background-color: #f44336;
}

.btn-delete:hover {
  background-color: #d32f2f;
}

.create-form {
  max-width: 600px;
  min-height: 300px;
  flex: 1;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #1f1f1f;
}

input,
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  resize: none;
  height: 100px;
}

select {
  appearance: none;
  padding: 5px;
}

button {
  background-color: #4c77af;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.content {
  display: flex;
}

.msg {
  padding: 4px 10px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  display: block;
}

.msg-failed {
  color: #df2626;
  background: #ffd6d6;
}

.msg-success {
  color: #005f3b;
  background: #cfffdd;
}
