.button {
  padding: 10px 22px;
  border-radius: 5px;
  border: 1px solid var(--clr-blue-500);
  font-size: var(--fs-5);
  font-weight: 500;
  transition: opacity ease-in-out 200ms;

  color: var(--clr-white);
  background: var(--clr-blue-500);
  display: inline-block;
}

.button:hover{
  opacity: 0.8;
}

.button.outline {
  border: 1px solid var(--clr-blue-500);

  color: var(--clr-blue-500);
  background: none;
  transition: background ease-in-out 200ms, color ease-in-out 200ms;
}

.button.outline:hover {
  color: var(--clr-white);
  background: var(--clr-blue-500);
}

.button.has-icon{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button.rounded{
  border-radius: 30px;
}

.button.full-rounded{
  padding: 10px;
  border-radius: 50%;
}

.whatsapp-link {
  padding: 15px;
  border-radius: 50%;

  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;

  background: #04b545;
}

.whatsapp-link img{
  width: 32px;
}

@media (width >= 75em){
  .button{
    padding: 12px 26px;
  }
}