.form {
  display: grid;
  gap: 30px;
}

.form .form__fields{
  display: grid;
  gap: 20px;
}

.form .form__input,
.form .form__textarea,
.form .form__select {
  width: 100%;
  padding: 11px 20px;
  border-radius: 5px;
  border: 1px solid var(--clr-gray-400);

  font-weight: 400;
  background: none;
}

.form .form__input::placeholder,
.form .form__textarea::placeholder {
  font-weight: 300;
  color: var(--clr-gray-400);
}

.form__input:focus,
.form__textarea:focus,
.form__select:focus {
  outline: none;
  border-color: var(--clr-blue-500);
  box-shadow: 0 0 3px var(--clr-blue-500);
}

.form .form__textarea {
  height: 6.25rem;
  resize: none;
}

.form__select {
  transition: all 0.3s ease; 
  -moz-appearance: none;
  color: var(--clr-gray-400);
}

.form .form__select.initial {
  color: var(--clr-gray-400);
}

.form .form__select.selected {
  color: var(--clr-blue-900);
}

.form__select::-ms-expand {
  display: none;
}

.form__option {
  font-weight: 300;
}

.form.form__search .form__input{
  width: 100%;
  height: 3.25rem;
  padding: 6px 52px 6px 20px;
  border-radius: 10px;
  border: none;
}

.form__group.checkbox{
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox label{
  font-size: var(--fs-5);
}

.form .button {
  border-radius: 5px;
}

.form.form__search .form__group.float-button{
  border-radius: 10px;
  overflow: hidden;
  background: var(--clr-white);

  position: relative;
}

.form .form__group.float-button button{
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: var(--clr-blue-500);
  position: absolute;
  right: 6px;
  top: 6px;
}

.form__group .image-container{
  margin-bottom: 5px;
  position: relative;
}

.form__image-preview {
  width: 100%;
  height: 340px;
  border-radius: 5px;
  object-fit: cover;
}

.form__input-file {
  display: none;
}

.form__label-file {
  width: 100%;
  padding: 11px 20px;
  border-radius: 0px 0px 4px 4px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  text-align: center;

  color: white;
  background: #899096;
  transition: background ease-in-out 200ms;
}

.form__label-file:hover {
  background-color: #98a0a7;
}

.form__file-name {
  font-size: var(--fs-7);
  word-break: break-all;
}

