.header {
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;

  transition: transform 0.3s ease;
}

.header-white-bg {
  background: var(--clr-white);
}

.hidden {
  transform: translateY(-100%);
}

.header .container {
  max-width: 75em;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .left-colum {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-label {
  cursor: pointer;
}

.navbar {
  height: calc(100vh - 72px);
  text-align: right;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  background: var(--clr-blue-500);

  transform: translateX(135%);
  transition: transform 500ms ease-in-out;
  z-index: -2000;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

#menu-bar {
  display: none;
}

.navbar ul {
  list-style: none;
}

.navbar ul li a {
  padding: 20px;
  font-size: 16px;

  color: var(--clr-white);

  display: block;
}

#menu-bar:checked ~ .navbar {
  transform: translateX(0%);
  opacity: 1;
}

.header .container > a {
  display: none;
}

.navbar .social-links{
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.auth-buttons{
  display: none;
}

@media (width >= 50.625em) {
  .header .left-colum {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 40px;
  }

  .header .menu-label {
    display: none;
  }

  .header .navbar {
    display: initial;
    all: unset;
  }

  .navbar ul {
    display: flex;
    gap: 30px;
  }

  .header .navbar ul li {
    position: relative;
    float: left;
  }

  .navbar ul li a {
    padding: 0;
    font-size: 20px;
    color: var(--clr-blue-900);
  }

  .navbar .social-links{
    display: none;
  }

  .header .container > a {
    display: block;
    white-space: nowrap;
  }

  .header .auth-buttons{
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
  }

  .header .profile-menu{
    width: max-content;
    border-radius: 10px;
    position: absolute;
    top: 84px;
    right: 0px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0.3s;

    background: var(--clr-white);
    box-shadow: 0px 2px 6px rgba(148, 148, 148, 0.2);
  }

  .profile-button:hover + .profile-menu,
  .profile-menu:hover{
    opacity: 1;
    visibility: visible;
  }

  .profile-menu__head, .profile-menu__links li a,
  .profile-menu__head, .profile-menu__links li button{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    text-wrap: nowrap;
  }

  .profile-menu__head{
    border-bottom: #EEE solid 1px;
    font-size: var(--fs-5);
  }

  .profile-menu__links li a,
    .profile-menu__links li button{
    font-weight: 500;
    font-size: var(--fs-6);
    color: var(--clr-blue-900);
  }

  .profile-menu__links li{
    transition: background 200ms ease-in-out;
  }

  .profile-menu__links li:hover{
    background: var(--clr-blue-200);
  }
}